// ### Zmienne od wyglądu strony(kolory, czcionki itd.) ###

// Kolory:
$green:#008000;
$white:#fff;
$hotpink: rgba(255,0,102,0.5);
$rose: rgba(247,145,163,0.75);

//Body:
$background-image: "http://25.media.tumblr.com/tumblr_mcegmn8T7a1rf8atuo1_1280.jpg";

// Header:
$header-background: rgba(255,255,255,0.5);

// Logo:

$logo-color: #252525;
$logo-font: "Journal";
$logo-font-size: 28px;
$logo-spacing:0px;
$logo-background: transparent;

// Navigation:

$nav-item-color: lighten(#252525, 25%);
$nav-item-highlight-color: $rose;
$nav-item-font-size:24px;
$nav-item-font:"Shadows";

// Aside:

$aside-border-radius: 4px;
$aside-background: rgba(255,255,255,0.5);
$aside-font: "Kite";

// Gallery

$gallery-border-radius: 4px;
$gallery-color: $white;
$gallery-font: "Kite";
$gallery-margin: 12px;
