// ### Zmienne od layoutu strony(grid, rozmiary, marginy, paddingi, z-indexy) ###

//Grid:
$total-columns: 10;
$column-width: 10%;
$gutter-width: 1%;
$grid-padding: 0;

$container-width: 100%;

//Header:
$header-type: fixed;
$header-padding: 10px;
$header-height: 50px;
$header-size: 10;

//Logo:
$logo-type: fixed;
$logo-size: 3;
$logo-padding: 20px 0;
$logo-height: 70px;

//Navigation:
$nav-height: $header-height;
$nav-padding: 0px;
$nav-item-width:100px;
$nav-item-margin:0 10px;

//Content:
$content-padding: 10px;
$content-size: 12;

//Aside:
$aside-size: 4;
$aside-height: 200px;
$aside-padding: 10px;