@import 'compass';
@import 'susy';
@import 'layout';
@import 'variables';
@import 'fonts';

//Mixins

@mixin font($font-name, $space) {
  font-family:$font-name, sans-serif, Arial;
  letter-spacing: $space;
}

// Default stylesheet

#header {
  @include opacity($header-opacity);
  background-color: $header-color;

  nav a{
    text-shadow: none;

    &:hover {
      color: gray;
    }  
  }
}

.logo {
  @include font($logo-font, $logo-spacing);
  font-size: $logo-font-size;
  
  a {
    color: $logo-color;
    text-decoration:none;
  }
}


#about{
  background-color: $about-color;
}