@import 'compass';
@import 'compass/reset';
@import 'susy';
@import 'layout';
@import 'variables';

#header {
  @include opacity($header-opacity);

  background-color: $header-color;
}

#header nav a{
  text-shadow: none;

  &:hover {
    color: gray;
  }  
}

aside#about{
  background-color: $about-color;
}