/*FONTS*/

/* 1) Calligraphic */
/* 2) Regular */


/*--- Calligraphic: ---*/


/*Angelina*/

@font-face {
  font-family:"Angelina";
  src: url('../fonts/calligraphic/angelina.ttf')
  format('truetype')
}

/*Windsong*/

@font-face {
  font-family:"Windsong";
  src: url('../fonts/calligraphic/Windsong.ttf')
  format('truetype')
}

/*Daniel*/

@font-face {
  font-family:"Daniel";
  src: url('../fonts/calligraphic/daniel.ttf')
  format('truetype')
}

/*Journal*/

@font-face {
  font-family:"Journal";
  src: url('../fonts/calligraphic/journal.ttf')
  format('truetype')
}

/*Tangerine*/

@font-face {
  font-family:"Tangerine";
  src: url('../fonts/calligraphic/Tangerine_Regular.ttf')
  format('truetype')
}

/*Alex*/

@font-face {
  font-family:"Alex";
  src: url('../fonts/calligraphic/AlexBrush-Regular-OTF.otf')
  format('opentype')
}


/*--- Regular: ---*/


/*Kobe*/

@font-face {
  font-family:"Kobe";
  src: url('../fonts/regular/AverageSans-Regular.ttf')
  format('truetype')
}

/*Grace*/

@font-face {
  font-family:"Grace";
  src: url('../fonts/regular/CoveredByYourGrace.ttf')
  format('truetype')
}

/*Jungle*/

@font-face {
  font-family:"Junge";
  src: url('../fonts/regular/Junge-Regular.ttf')
  format('truetype')
}

/*Kite*/

@font-face {
  font-family:"Kite";
  src: url('../fonts/regular/KiteOne-Regular.ttf')
  format('truetype')
}

/*Nova*/

@font-face {
  font-family:"Nova";
  src: url('../fonts/regular/NovaSlim.ttf')
  format('truetype')
}

/*Overlock*/

@font-face {
  font-family:"Overlock";
  src: url('../fonts/regular/Overlock-Regular.ttf')
  format('truetype')
}

/*Quando*/

@font-face {
  font-family:"Quando";
  src: url('../fonts/regular/Quando-Regular.ttf')
  format('truetype')
}

/*Quicksand*/

@font-face {
  font-family:"Quicksand";
  src: url('../fonts/regular/Quicksand-Regular.ttf')
  format('truetype')
}

/*Shadows*/

@font-face {
  font-family:"Shadows";
  src: url('../fonts/regular/ShadowsIntoLightTwo-Regular.ttf')
  format('truetype')
}