@mixin font($font-name, $space:0px) {
  font-family:$font-name, sans-serif, Arial;
  letter-spacing: $space;
}

@mixin fixed($position, $offset) {
  position: fixed;
  #{$position}: $offset;
}

.clearfix {
  clear: both;
}