// ### Zmienne od wyglądu strony(kolory itd.) ###

// Kolory:
$green:#008000;
$white:#fff;

// Header:

$header-color: rgba(255,255,255,0.75);

// Logo:

$logo-color: #252525;
$logo-font: "Daniel";
$logo-font-size: 20px;
$logo-spacing:0px;

// Navigation:

$nav-item-color: lighten(#252525, 25%);
$nav-item-highlight-color: $green;
$nav-item-font-size:24px;
$nav-item-font:"Overlock";

// Aside:

$aside-border-radius: 4px;
$aside-color: $white;
$aside-font: "Kobe";
$aside-opacity: 0.8;

// Gallery

$gallery-border-radius: 4px;
$gallery-color: $white;
$gallery-font: "Kobe";
$gallery-opacity: 0.8;
$gallery-margin: 12px;
