$total-columns: 10;
$column-width: 10%;
$gutter-width: 1%;
$grid-padding: 0;

$container-width: 960px;

$header-type: fixed;
$header-padding: 10px;
$header-height: 50px;
$header-size: 12;

$logo-size: 4;
$logo-padding:15px;

$nav-height: $header-height;
$nav-padding: 8px;
$nav-item-width:120px;

$content-padding: 10px;
$content-size: 12;

$aside-size: 4;
$aside-height: 200px;
$aside-padding: 10px;

$background-image: "http://25.media.tumblr.com/tumblr_mcegmn8T7a1rf8atuo1_1280.jpg";
