// ### Zmienne od layoutu strony(grid, rozmiary, marginy, paddingi, z-indexy) ###

//Grid:
$total-columns: 10;
$column-width: 10%;
$gutter-width: 1%;
$grid-padding: 0;

$container-width: 960px;

//Header:
$header-type: static;
$header-padding: 10px;
$header-height: 50px;
$header-size: 12;

//Logo:
$logo-size: 4;
$logo-padding:15px;

//Nav:
$nav-height: $header-height;
$nav-padding: 8px;
$nav-item-width:120px;

//Content:
$content-padding: 10px;
$content-size: 12;

//Aside:
$aside-size: 4;
$aside-height: 200px;
$aside-padding: 10px;