/* Konwencja
  Ten plik zawiera opis pozycji elementow na stronie

  @dozwolone atrybuty css:
    - box-sizing, float, height, margin, padding , position, width, z-index

  @dozwolone mixiny:
    - kazdy ktory wykorzystuje dozwolone atrybuty oraz
    - span-columns

  @slownik:
    size: to samo co span
*/

@import 'agata/variables/layout';

.page {
  @include container;
  width:100%;
}

#header {
  @include box-sizing (border-box);
  @include span-columns ($header-size);
  border-bottom:1px solid rgba(50,50,50,0.15);
  
  @if $header-type == fixed { @include fixed(top, 0); }
  height: $header-height;
  padding: $header-padding;
  
  .logo {
    @include fixed(top, 0);
    @include span-columns($logo-size);
    @include box-sizing (border-box);
    @include border-radius (8px);
    padding: $logo-padding;
    height: $logo-height;
  }

  nav {
    height: $nav-height - 1 * $nav-padding;
    padding: $nav-padding;

    ul { 
      @include horizontal-list;
      @include float-right;
      height: inherit;

      li {
        width: $nav-item-width;
        margin: $nav-item-margin;
        padding: 0 0 13px 0;
      }
    }
  }
}

aside#sidebar {
  @include span-columns($aside-size);
  @include box-sizing(border-box);
  min-height: $aside-height;
  padding: $aside-padding;
}

#gallery {
  @include span-columns(6 omega);
  @include box-sizing(border-box);
  img {
    width:100%;
  }
}

#content{
  margin-top:10px;
  padding: $content-padding;
  // dodaje wymagany odstep wielkosc headera
  @if $logo-type == fixed { margin-top: $logo-height / 2 ; }
  @if $header-type == fixed { margin-top: $header-height + 2 * $header-padding; }
}
